<!-- Vista de Lista de Productos -->

<div>
  <div id="productListView" style="display: none;">
    <h1>Lista de Productos</h1>
    <div id="productList"></div>
  </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/alerts.js"></script>
<script src="/js/home.js"></script>
<script>showProductList();</script>